
/* turn on flexbox here - prior to this, elements stacked individually as blocks */

@media (min-width: 550px) {
    section ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    section li {
        flex-basis: 49.5%;
    }
    section ul,
    footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    section li,
    .social,
    address {
        flex-basis: 49.5%;
    }
    /* turn off object position, inherit object-fit: cover */
    figure img {
        object-position: 0;
    }
    .missiontext{
        display: flow-root;
        max-width: 900px;
    }
    .missionimg {
        float: left;
        shape-outside: polygon(35.84% 94.87%, 34.64% 87.05%, 51.64% 4.06%, 55.1% 2.38%);
        max-height: 211px;
    }
 
     /* header/nav layout */
     header {
        padding: 3rem;
    }
    /* navigation: logo on the top line, the rest of the navigation on the second line */
    nav ul {
        justify-content: center;
        gap: 1.2em;
    }
    nav li {
        flex-basis: auto;
        margin-bottom: 0;
    }
    nav a {
        color: var(--color1);
        background-color: transparent;
        padding: 0;
    }
    nav a:hover {
        color: var(--color2);
        background-color: transparent;
    }
 }
 
 @media (min-width: 800px) {
    section h2 {
        margin-left: 100px;
    }
    section li,
    .social {
        flex-basis: 32.5%;
    }
    address {
        flex-basis: 65.5%;
    }
    nav ul {
        justify-content: flex-end;
    }
    nav li:first-child {
        flex-basis: auto;
        margin: 0 auto;
        order: 2;
    }
    nav li:nth-child(2),
    nav li:nth-child(3) {
        order: 1;
    }
    nav li:nth-child(4),
    nav li:nth-child(5) {
        order: 3;
    }
   
 }